.map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  color: #999;
  line-height: 18px;
  font-size: 14px;
  text-align: center;
}

.map .row {
  display: flex;
}

.map .column {
  min-width: 18px;
  height: 18px;
  cursor: pointer;
  border: 1px solid #dee2e6;
}

.map .marked {
  background-color: #ffc107;
}
.map .opened {
  background-color: #dee2e6;
}
.map .error {
  background-color: #dc3545;
}
