.map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  color: #999;
  /* line-height: 20px; */
  font-size: 18px;
  text-align: center;
}

.row {
  display: flex;
}

.cell {
  position: relative;
  min-width: 22px;
  height: 22px;
  cursor: pointer;
  border: 1px solid #dee2e6;
  text-align: center;
}

.cell.opened {
  background-color: #dee2e6;
}
.cell::before {
  position: absolute;
  top: 0;
  left: 1px;
}
.cell.flag::before {
  content: "🕹";
}
.cell.doubt::before {
  content: "❓";
}
.cell.bomb::before {
  content: "️🧨";
}
